@import "variables.scss";

#app {
    font: $basicSize 'Roboto', 'Helvetica Name', Helvetica, Arial, sans-serif;
    margin: 0 auto;
    background-color: $backColor;
}

.exph2 {    
    font-size: $basicSize + 10pt;
    margin: 0px;
}

.customh3 {
    font-size: $basicSize + 2pt;
    margin-bottom: 15px;
}

.row-prez {
    margin-bottom: 15px;
}

.workexp{
    margin-top: 20px;
    margin-bottom: 25px;
    text-align: center;
}

.column2 {
    margin-left: 15px;
    margin-right: 15px;
}
.span-basic {
    font-size: $basicSize + 2pt;
}
.thick {
    font-weight: bold;
}
.blu{
    color: blue;
}
.span-basic-font-size {
    font-size: $basicSize;
}
.span-presentation-font-size {
    font-size: $basicSize;
    font-weight: bold;
}
.btn {
    font-size: $basicSize;
}
.exp{
    margin-top: 30px;
    background-color: $white;
}
.presentationcol{
    margin-top: 30px;
    background-color: $backColorPres;
    color: $white;
}
.presentationcontent{
    margin-top: 20px;
    margin-left: 15px;
    margin-right: 15px;    
    border-bottom: 1px solid #4783c2;
    p {
        margin-bottom: 15pt;
        text-align: center;
    }
}

.presentationborder{
    border-bottom: 1px solid #4783c2;
    margin-bottom: 5pt;
}
.divImg{
    text-align: center;
}
.imgSize { 
    font-size: $basicSize + 10pt;  
}
.imgPresentation { 
    font-size: $basicSize + 5pt;
    text-align: center;
    margin-bottom: 2pt;
}
.description{
    margin-top:5px;
    font-size: 10pt; 
}
.professional-skills{
    font-weight: bold;
    margin-top: 20px;
    font-size: 12pt; 
}
@media(min-width:768px) {
    #app {
        font-size: $basicSize;
    }
    .span-basic-font-size {
        font-size: $basicSize + 2pt;
    }
    .span-presentation-font-size {
        font-size: $basicSize + 5pt;
        font-weight: bold;
    }
    .divImg{
        text-align: left;
        width: 100%;
    }
    .imgSize { 
        font-size: 30pt;  
    }
    .workexp {
        text-align: left;
    }
    .description {
        margin-top:5px;
        font-size: 13pt; 
    }
    .professional-skills {
        margin: 0;
    }
}

@media(min-width:1024px) {
    .column2 {
        margin-left: 0;
        margin-right: 30px;
    }
    .description{
        margin-top:5px;
        font-size: 10pt; 
    }
    .imgPresentation { 
        text-align: left;
        margin: 0;
    }
    .presentationcontent p {
        text-align: left;
    }
}